<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Apple 🍎</string>
	<string>Grapes 🍇</string>
	<string>Banana 🍌</string>
	<string>Orange 🍊</string>
	<string>Peach 🍑</string>
	<string>Watermelon 🍉</string>
	<string>Melon 🍈</string>
	<string>Kiwi 🥝</string>
</array>
</plist>
